:root {
    --fox-brown-50: #f9f8f1;
    --fox-brown-100: #efead6;
    --fox-brown-200: #ddd3aa;
    --fox-brown-300: #c8b575;
    --fox-brown-400: #bfa660;
    --fox-brown-500: #b48e4c;
    --fox-brown-600: #9e7341;
    --fox-brown-700: #855938;
    --fox-brown-800: #6d4933;
    --fox-brown-900: #5b3d2c;
    --fox-brown-950: #332015;

    --purple-50: #f3f0ff;
    --purple-100: #ebe4ff;
    --purple-200: #d8ccff;
    --purple-300: #bca4ff;
    --purple-400: #9d70ff;
    --purple-500: #8137ff;
    --purple-600: #760fff;
    --purple-700: #6a00ff;
    --purple-800: #5800da;
    --purple-900: #5100c4;
    --purple-950: #2b007a;

    --orange-50: #fff7ed;
    --orange-100: #ffecd4;
    --orange-200: #ffd5a8;
    --orange-300: #ffb771;
    --orange-400: #ff8f3a;
    --orange-500: #fe6e11;
    --orange-600: #ef5307;
    --orange-700: #c63b08;
    --orange-800: #9d300f;
    --orange-900: #7e2a10;
    --orange-950: #441206;
}
