<footer class="theme-background">
    <div class="container column2-grid">
        <div>
            <h2>Hazel meta</h4>
            <p><span>Hazel <code>{{Version}}</code></span></p>
        </div>
        <div>
            <h2>Links</h2>
            <ul class="sneaky-list">
                <li><a href="https://github.com/LunarWatcher/Hazel">GitHub</a></li>
                <li><a href="https://github.com/LunarWatcher/Hazel/tree/master/docs">Documentation</a></li>
                <li><a href="https://github.com/LunarWatcher/Hazel/issues/">Bug tracker</a></li>
                <li><a href="/open-source.html">Licenses</a></li>
            </ul>
        </div>
    </div>
</footer>
